* text=auto eol=lf
*.zip !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.tgz !text !filter !merge !diff
mission-control.tar.gz !text !filter !merge !diff
niche-scout-analysis.tar.gz !text !filter !merge !diff
