apiVersion: v2
name: alfred
description: A Helm chart for Alfred Agent Platform v2
type: application
version: 0.1.0
appVersion: "1.0.0"
dependencies:
  - name: prometheus
    version: "~15.10.0"
    repository: "https://prometheus-community.github.io/helm-charts"
    condition: prometheus.enabled
  - name: grafana
    version: "~7.0.0"
    repository: "https://grafana.github.io/helm-charts"
    condition: grafana.enabled
