global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alert manager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - 'alertmanager:9093'

# Load rules from file
rule_files:
  - 'alerts.yml'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'niche-scout-proxy'
    static_configs:
      - targets: ['proxy-service:3020']
    metrics_path: '/metrics'
    scrape_interval: 5s  # More frequent scraping for the proxy service
    
  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']