apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    url: supabase-db:5432
    user: postgres
    secureJsonData:
      password: $POSTGRES_PASSWORD
    jsonData:
      database: postgres
      sslmode: disable
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    editable: true
