name: lint
on: [pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install linters
        run: sudo apt-get update && sudo apt-get install -y shellcheck
      - name: Poetry deps
        run: |
          pipx install poetry
          poetry install --with dev
      - name: ShellCheck
        run: make lint-shell
      - name: Vulture
        run: make lint-pydead
